@model IEnumerable<GestaoIso.Data.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneResidencial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriacaoResp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriacaoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevisaoResp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevisaoData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneResidencial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriacaoResp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriacaoData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevisaoResp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevisaoData)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PessoaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PessoaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PessoaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
