@model IEnumerable<GestaoIso.Data.Funcao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index teste github</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experiencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DominioEducacao.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treinamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experiencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DominioEducacao.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Treinamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuncaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FuncaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FuncaoId">Delete</a> |
                <a asp-action="Approve" asp-route-id="@item.FuncaoId">Approve</a>
            </td>
        </tr>
}
    </tbody>
</table>
